/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans&family=Signika&display=swap');


:root {
  --main-text-color: #313131;
  --accent-color: #1b802c;
  --background-color: white;
}


body {
  font-family: 'Funnel Sans', sans-serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Funnel Sans', serif;
  color: var(--accent-color);
  text-align: center;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--main-text-color);
}


.navbar .nav-link {
  color: black;
  font-size: 14pt;
}

.navbar-brand {
      color: var(--accent-color);   /* Change text color #653200? */
      text-align: center;
      /* text-shadow: 1px 1px white;*/
    }

.hero-section {
  margin: 0;
  padding: 0;
}

.green-section {
  background-image: url('images/flowers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.white-section {
  background: white;
  padding: 2rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

