/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans&family=Signika&display=swap');


:root {
  --main-text-color: #313131;
  --accent-color: #1b802c;
  --background-color: white;
  --brown: #653300;
  --orange: #fad3c5;
}


body {
  font-family: 'Funnel Sans', sans-serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Funnel Sans', serif;
  color: var(--accent-color);
  text-align: center;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--main-text-color);
}


.navbar .nav-link {
  color: black;
  font-size: 14pt;
}

.navbar-brand {
      color: var(--accent-color);   /* Change text color #653200? */
      text-align: center;
      /* text-shadow: 1px 1px white;*/
    }

.hero-section {
  margin: 0;
  padding: 0;
}

.logo-section {
  background-image: url('images/flowers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.green-section {
  background-image: url('images/flowers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.what-we-do-section {
  background-image: url('images/hoja_platano.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.white-section {
  background-image: url('images/flowers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.center {
  text-align: center;
}

.instagram-section {
  text-align: center;
}


/* Flip card styles */
.flip-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 15px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.flip-card-front {
  background-color: #f8f9fa;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.flip-card-back {
  background-color: var(--brown);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  border-radius: 15px;
}
